<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <title></title>
  </head>
  <body>
    <header>
      <a href="more.html"></a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="more.html"class ="selected">More</a></li>
        </ul>
      </nav>
    </header>

<div class="more-page">
  <h3>This is a more page</h3>

  <div class="card">
    <h3 class="card-title">programming </h3>
    <p>I want to master the process of building web sites and
      increase my knowledge, skills and abilities in:</p>
    <ul class="skills">
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
    <li>Java</li>
      <li>Ruby</li>
      <li>Rails</li>
    </ul>
    <p>I’d like to work for a web design firm helping clients create
       an impressive online presence.</p>
  </div>

  <div class="card">
    <h3 class="card-title">Dev Tools </h3>
    <p>I want to master the process of building web sites and
      increase my knowledge, skills and abilities in:</p>
    <ul class="skills">
      <li>AWS</li>
      <li>Docker</li>
      <li>Linux</li>

    </ul>
    <p>I’d like to work for a web design firm helping clients create
       an impressive online presence.</p>
  </div>
</div>

<footer>
  <a href="http://facebook.com/abinet.getachew.1"
class = "social-icon">
<img src ="assets/images/facebook.png" alt="Facebook"
width = "25" height = "25"></a>
   <!-- width = "25" height = "25" -->
 <a href="https://github.com/abikg71"
 class ="social-icon">
   <img src = "assets/images/github.png" alt="Github"
   width = "25" height = "25"></a>
     <a href="https://www.linkedin.com/in/abinetkenore"
     class = "social-icon">
       <img src = "assets/images/linkedin.png" alt="LinkedIn"
       width = "25" height = "25"></a>
 <p class="copyright">Copyright 2020, My Q</p>
  </footer>
  </body>
</html>
