


* {
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color:#FFEACA;
  padding: 0px;
  margin: 0px;
}

img{
  max-width: 100%;
  height: auto;
}
nav{
  border:
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #848B79	;
}

nav li {
  float:right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
/* Diffeent color for each programming
languages */
.skills li:nth-child(1) {
  background: #0399ff;
}
.skills li:nth-child(2) {
  background: #9ff;
}
.skills li:nth-child(3) {
  background: gray;
}
.skills li:nth-child(5) {
  background: greenyellow;
}.skills li:nth-child(6) {
  background: red;
}
/*Background and Goal css rule */
h3 {
  /*color: maroon;/*blue*/
  letter-spacing: 1.2px;
  font-size: 42px;
  color: #465058;
  margin-left:200px;

  /*The spaces bn letters*/
  font-style: italic;
}
h4 {
  font-weight: 200;
  font-size: 24px;
  margin: 10px 0 0;
}
h5 {
  color: #282828;
  font-weight: 120;
  font-size: 16px;
  margin: 10px 0 0;
  margin-left: 15px;
}

h6 {
  color:#388E8E;
  font-weight: 300;
  font-size: 14.4px;
  margin: 3.2px 0 0;
  margin-left: 25px;
}

.card-title {
  text-align: center;
  border: solid gray 3px;
  border-radius: 12px;/* Curving the border*/
  padding: 0.175px;
  margin-top: .175px;

}

/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  clear: both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/**********************************
PAGE: CONTACT
***********************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

/*moves Icons left of the things they refer to */
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat:no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../images/phone.png');
}

.contact-info li.mail a {
  background-image: url('../images/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../images/twitter.png');
}


/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  /* separates the footer from the picture*/
  padding-top: 50px;
  color: #cac;
}
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}


/****************
slideshow

*****************/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: red;
  font-size: 15px;
  padding: 0px 12px;
  position:inherit;
  bottom: 8px;
  width: 100%;
  text-align: absolute;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.75s;
  animation-name: fade;
  animation-duration: 1.75s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/************
Our feature
*****************/
.section-title
{
  font-size: 3.875rem;
  font-weight: 300;
  text-align: center;
  {
    strong
    {
      font-weight: 500;

    }
    &__icon
    {
      margin-right: 0.5rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.6rem;

    }

  }

}

.row{
  @mixin clearfix;
  &--gutters{
    margin-right: -650x;

  }
  &--gutters-large{
    margin-right: -100px;
  }



  &--gutters > div {
    padding-right: 65px;
  }
&--gutters-large > div
{
  padding-right: 100px;

}

  &__medium-6
  {
  float: left;
  width: 50%;

  }

}

.feature-item{
  position: relative;
  padding-left: 94px;
  padding-bottom: 2.75rem;
  &__icon{
    position: absolute;
    left: 0;
  }
  &__title{
    font-size: 1.875rem;
    font-weight: 100;
    margin-bottom: .8rem;

  }

}

.generic-content-container{
  p{
    font-weight: 300;
    line-height: 1.125rem;
    margin: 0 0 1.8rem 0;

  }

  p a {
    font-weight: 700;
  }
}

/* body {
  background: green;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} */
